<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QueServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="QueCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  <add name="QueeuingEntities" connectionString="metadata=res://*/QueModel.csdl|res://*/QueModel.ssdl|res://*/QueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:MSI,1306;initial catalog=Queeuing;persist security info=True;user id=queue;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <userSettings>
    <QueServer.Properties.Settings>
      <setting name="ServerIp" serializeAs="String">
        <value>192.168.254.146</value>
      </setting>
      <setting name="SidePanelVisibility" serializeAs="String">
        <value>True</value>
      </setting>
    </QueServer.Properties.Settings>
    <QueCounter.Properties.Settings>
      <setting name="ServerIp" serializeAs="String">
        <value>192.168.254.146</value>
      </setting>
    </QueCounter.Properties.Settings>
  </userSettings>
</configuration>
